<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>

        <title>FE-Daptive</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- Place favicon.ico in the root directory -->
        

        <!-- bower:css -->
        <!-- endbower -->

        <!-- inject:css -->
        <!-- endinject -->

    </head>
	<div class="loader" ng-hide="initialized">
		
	</div>	
    <body data-ng-app="app">
        Hello Daptive


        <div layout="row" ng-controller="mainCtrl as vm">
          <md-sidenav md-component-id="left" class="md-sidenav-left">
            Left Nav!
          </md-sidenav>
          <md-content>
            Center Content
            <md-button ng-click="vm.openLeftMenu()">
              Open Left Menu
            </md-button>
          </md-content>
          <md-sidenav md-component-id="right" md-is-locked-open="$mdMedia('min-width: 333px')" class="md-sidenav-right">
            <form>
              <md-input-container>
                <label for="testInput">Test input</label>
                <input id="testInput" type="text" ng-model="data" md-autofocus>
              </md-input-container>
            </form>
          </md-sidenav>
        </div>



        <!-- bower:js -->
        <!-- endbower -->

        <!-- inject:js -->
        <!-- endinject -->

    </body>
</html>