<!doctype html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>

  <title>FE-Daptive::Login</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
</head>
<body ng-app="loginApp" ng-cloak>
  <!--
    Your HTML content here
  -->  
      
      <md-content layout="horizontal" flex id="content" style="min-height: 100%; min-width: 100%; padding-top:200px;">
        
          <div layout="row" layout-align="center" layout-fill>
            <md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding layout-margin="200">
              <md-content>
                
                <md-input-container class="md-block">
                  <label>Email</label>
                  <input ng-model="user.email" type="email" required>
                </md-input-container>

                <md-input-container class="md-block">
                  <label>Password</label>
                  <input ng-model="user.password" type="password" required>
                </md-input-container>

                <md-input-container >
                    <md-button class="md-raised" flex="50" flex-sm="100">Login</md-button>
                    <md-button class="md-raised md-primary" flex="50" flex-sm="100">Register</md-button>
                </md-input-container>
              </md-content>
            </md-whiteframe>
          </div>
        
      </md-content>


  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('loginApp', ['ngMaterial']);
  </script>
  
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->